@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto-sans);
  --font-notoJP: var(--font-noto-sans-jp);
  --font-brush: var(--font-brush);
}

body {
  font-family: var(--font-noto);
}